<!doctype html>
<html ng-app="bookshelf">
  
  <head>
    <meta charset="utf-8">
    <title>Search</title>
    <link rel="stylesheet" href="style.css"/>
  </head>
  
  <body>
    <div ng-controller="MainCtrl">
      
      <ul class="bookshelf" ng-repeat="shelf in bookShelfs">
        <li id="book{{book.id}}" class="book" ng-repeat="book in shelf" >
        
          <div class="book-outer-container">
            <div class="book-wrapper" draggable draggable-state="bookState" ng-class="bookState">
              <div class="book-right" ng-style= "{'background-image':getBookBackground(book.imageLink)}" >
              </div>
              <div class="book-front">
                <div class="book-spine-wrapper">
                  <span class="book-spine__author-name">{{book.author}}</span> 
                  <span class="book-spine__book-title">{{book.title}}</span>
                  <div> state : {{bookState}}</div>
                </div>
              </div>
              <div class="book-left"></div>

              <ul class='page'>
                <li>page 1</li>
                <li>page 2</li>
                <li>page 3</li>
                <li>page 4</li>
                <li>page 5</li>
                <li>page 6</li>
                <li>page 7</li>
              </ul>


              <!-- <div class="book-back"></div>
              <div class="book-top"></div>
              <div class="book-bottom"></div> -->
            </div>
          </div>
        </li>
      </ul>


      


<!-- 

      <ul>
        <li ng-repeat="book in book_list">{{book}}</li>
      </ul>
    -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.20/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>