.bookshelf {
    list-style: none;
    margin-top: 5rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgb(0,0,0);
}

.book {
    display: inline-block;
    position: relative;
    cursor: pointer; 
    width: 2.5rem;
    height: 20rem;
    margin-right: 2rem;
}

.book-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
}



.book-wrapper .book-front{
    -webkit-writing-mode: vertical-rl; 
    writing-mode:tb-rl;
    position: absolute;
    width: 4rem;
    height: 20rem;
    display: block;
    background-color: teal;
    transform: rotateY( 0deg ) translateZ(7.5rem) ; 
}

.book-wrapper .book-left{
    position: absolute;
    width: 15rem;
    height: 20rem;
    display: block;
    background: lightgreen;
    transform: translateX(-7.5rem)  rotateY(-90deg) ;
}

.book-wrapper .book-right  { 
    position: absolute;
    width: 15rem;
    height: 20rem;
    display: block;
    background: yellowgreen;
    transform: translateX(-3.5rem) rotateY(90deg);
}
    
 

.book-wrapper .book-back {
    width: 4rem;
    height: 20rem;
    display: block;
    position: absolute;
    background: orange;
    transform: rotateX( 180deg ) translateZ( 7.5rem ); 

}

.book-wrapper .book-top {
    width: 4rem;
    height: 15rem;
    display: block;
    position: absolute;
    background: skyblue;
    transform: translateY(-7.5em) rotateX(90deg) ;

}

.book-wrapper .book-bottom {
    position: absolute;
    width: 4rem;
    height: 15rem;
    display: block;
    background: steelblue;
    transform: translateY(12.5em) rotateX(90deg) ;
}





@keyframes rotate {
  100% {
    transform: rotateY(-90deg);
  }
}

.book-outer-container{
    position: relative;
    perspective: 1000px;
    width: 4rem;
    height: 20rem;
}

.book-wrapper {
   transition: all 1s;
}

li.drag .book-wrapper{
    animation: rotate 1s linear;
    webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.book-spine-wrapper{
    padding: 0.625rem;
}

.book-titlepage-wrapper{
    padding: 0.625rem;
}